<html>
<link rel="stylesheet" href="styles.css">
<head>
    <meta charset="UTF-8">
    <title>Corretor de Ponto</title>
  </head>
<body>
  <div class="message" id="message"></div>
  <div id="spinner" class="spinner" style="display:none"></div>
  <div id="content" class="container">
      <form>

        <div id="inicio" style="text-align: center; padding-top: 15%;">
          <i class="fa fa-clock" style="font-size: 100px; color: #6ca55d"></i>
          <h1 class="feature-title">Bem vindo ao Corretor de Ponto!</h1>
          <p>Para começar, converta o arquivo de planilha do Portal Horas ou, 
            caso já o tenha feito, carregue-o para a detecção das inconsistências</p>
            <div style="text-align: center">
                <input class="btn" id="btnConverterPlanilha" type="button" value="Converter Planilha"></input>
                <input class="btn" id="btnCarregar"  type="button" value="Carregar Planilha"></input>
              </div>

        </div>
        <div id="tela-pontos" hidden="true">
          <div class="tab-container">
            <div id="guia-inconsistencias" onclick="exibirInconsistencias()" class="tab">Inconsistências
          </div>
          <div id="guia-tds-pontos" onclick="exibirTodosOsPontos()" class="tab tab-inactive">
            Todos os Pontos
          </div>
          </div>
          <div id="pontos">
          </div>
        </div>
    
      </form>
    </div>
</body>
<script>
    require('./ajuste-ponto-template.js');
    require('../service/ponto-service.js');
</script>
</html>