<html>
<link rel="stylesheet" href="styles.css">

<head>
  <meta charset="UTF-8">
  <title>Corretor de Ponto</title>
</head>

<body>
    <div class="message" id="message"></div>
    <div id="spinner" class="spinner" hidden="true"></div>
  <i class="fas fa-bars" onclick="showSidebar()"  style="font-size: 25px; padding: 1%; color: #6ca55d; cursor: pointer;"></i>
  <div id="sidebar" class="hide-sidebar">
      <div class="close-container">
        <i onclick="hideSidebar()" style="font-size: 25px; padding: 1%; color: #6ca55d; cursor: pointer;" class="fas fa-times"></i>
      </div>
    <h2 style="color: #6ca55d">Links Úteis</h2>  
    <p style="cursor: pointer" onclick="abrirPortalHoras()"><i class="fas fa-clock" style="padding-right: 10px; color: #6ca55d;"></i>Portal Horas</p>
    <p style="cursor: pointer" onclick="abrirOutlook()"><i class="far fa-envelope" style="padding-right: 10px; color: #6ca55d;"></i></i>Outlook</p>
  </div>
  <div id="content" class="container">
    <form>

      <div id="inicio" style="text-align: center; padding-top: 15%;">
        <i class="fa fa-clock" style="font-size: 100px; color: #6ca55d"></i>
        <h1 class="feature-title">Bem vindo ao Corretor de Ponto!</h1>
        <p>Para começar, selecione a planilha gerada pelo Portal Horas. Caso ainda não tenha baixado, acesse o Portal Horas pela webview do menu lateral.</p>
        <div style="text-align: center">
          <input class="btn" id="btnCarregar" type="button" value="Carregar Planilha"></input>
        </div>

      </div>
      <div id="tela-pontos" hidden="true">
        <div class="navbar">
          <i class="fas fa-arrow-left" id="action-icon" title="Voltar p/ tela inicial" onclick="voltarInicio()"></i>
          <div class="actions">

            <i class="fas fa-eye" id="btnAlternarExibicao" onclick="alternarExibicao()" title="Exibição Completa"></i>
            <i class="fas fa-save" id="action-icon" onclick="gravarNovaPlanilha()" title="Gerar Planilha de Pontos"></i>
          </div>
        </div>
        <div class="tab-container">
          <div id="guia-inconsistencias" onclick="exibirInconsistencias()" class="tab">Inconsistências
          </div>
          <div id="guia-tds-pontos" onclick="exibirTodosOsPontos()" class="tab tab-inactive">
            Todos os Pontos
          </div>
          <div id="guia-preview-planilha" onclick="exibirPreviewPlanilha()" class="tab tab-inactive">
            Pré-visualizar Planilha
          </div>
        </div>
        <div style="margin: 2%" id="pontos">
        </div>
      </div>

    </form>
  </div>
</body>
<script>
  require('./ajuste-ponto-template.js');
  require('../controllers/ponto.controller.js');
  require('../controllers/sidebar.controller.js');
</script>

</html>